<div class="geral">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary" routerLinkActive="active">
    <a class="navbar-brand" [routerLink]="['/']">Arthyon's WebPage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item link" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/about']" (click)="checkLog()">About</a>
        </li>
        <li class="nav-item link" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/formulario']" (click)="checkLog()">Form</a>
        </li>
        <li class="nav-item dropdown link" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Calculators
          </a>
          <div class="dropdown-menu navbar-dark bg-primary" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/calculadora']" (click)="checkLog()">Basic</a>
            <a class="dropdown-item" [routerLink]="['/cientifica']" (click)="checkLog()">Scientific</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>

<footer class="footer-fundo">
  <div class="navbar navbar-default navbar-fixed-bottom navbar-dark bg-primary">
    <div class="container">
      <p class="navbar-text pull-left">© 2018 - Site-V2 Built By Arthyon2033</p>

      <a href="https://github.com/arthyon2033" class="navbar-btn btn-danger btn pull-right" target="_blank">
        <span class="glyphicon glyphicon-star"></span>Help me on GitHub</a>
    </div>
  </div>
</footer>