<div class="container">

  <h3 class="titulo">Página Inicial</h3>

  <p class="subtitle">"Aquele que ama ou exerce ou deseja a dor, pode ocasionalmente adquirir algum prazer na labuta. Para dar um exemplo trivial,
    qual de nós se submete a laborioso exercício físico, exceto para obter alguma vantagem com isso. Desmoralizado pelos
    encantos do prazer, percebe que a dor não resulta em prazer algum. Está tão cego pelo desejo que não pode prever quem
    não cumprirá seu dever por fraqueza de vontade."</p>

  <img src="assets/Lighthouse.jpg" alt="Imagem Aleatória" class="img1"> 

  <p class="p1">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non finibus velit, hendrerit venenatis leo. Donec augue
    odio, tristique sagittis ultricies in, euismod in massa. Sed ut bibendum nisi, ac rutrum ante. Cras egestas pulvinar
    mauris eget auctor. Quisque tincidunt orci ut mauris cursus pulvinar. Etiam ut mauris in mauris auctor venenatis at eget
    lacus. Quisque tristique consequat suscipit. In hac habitasse platea dictumst. Quisque lectus tellus, tempor sed euismod
    non, ultricies eleifend felis. Pellentesque laoreet elementum enim, at luctus leo lacinia sit amet. Aliquam imperdiet
    eros eu neque ullamcorper sodales. Integer finibus leo sed metus sollicitudin, nec consectetur sem mattis. Proin sit
    amet varius velit. Vivamus quis urna volutpat, rhoncus diam vitae, ornare metus. Praesent at magna posuere, volutpat
    nunc gravida, volutpat purus. Morbi dui metus, consectetur a lectus et, aliquam placerat sapien. Cras congue purus velit,
    quis vehicula massa venenatis in. In tincidunt sit amet nisi quis vehicula. Donec eu dignissim mauris, sed luctus enim.
    Fusce molestie urna ac neque maximus maximus. Fusce efficitur vehicula justo non iaculis. Fusce viverra mi a ante sodales,
    vitae vehicula neque rutrum. Quisque eros nibh, ultrices at commodo vitae, dignissim eu nisl. Vivamus quis lorem dapibus,
    aliquet risus sed, eleifend libero. Phasellus dictum urna eu interdum posuere. Sed auctor mattis augue, et ultricies
    nisl euismod nec. Aliquam vestibulum bibendum euismod. Praesent sit amet felis in odio luctus malesuada rutrum nec nulla.
    Phasellus id nulla turpis. Sed tincidunt vestibulum nisl eget porta. Nullam consectetur sollicitudin fermentum. Aliquam
    erat volutpat. Vestibulum semper ipsum ut malesuada posuere. Aenean nec sapien urna. Proin finibus metus vel turpis pulvinar
    dignissim. Quisque mattis, sem quis vehicula porttitor, ipsum sem mollis orci, in rutrum mi libero vitae dui. In ornare,
    felis a egestas sollicitudin, massa quam suscipit sem, volutpat lacinia ante ligula vitae lacus. Morbi id nunc ornare,
    malesuada enim id, gravida augue. Morbi laoreet dui leo, nec iaculis nisi suscipit a. Proin metus nibh, gravida gravida
    urna et, tempus lobortis tortor. In molestie gravida urna sed aliquet. Maecenas lectus justo, tempus vitae cursus eu,
    pharetra eu neque. Vivamus porttitor congue neque quis tincidunt. Donec mattis dui blandit magna auctor sagittis. Vestibulum
    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum ante ipsum primis in faucibus
    orci luctus et ultrices posuere cubilia Curae; Etiam molestie molestie lectus. Pellentesque habitant morbi tristique
    senectus et netus et malesuada fames ac turpis egestas. Phasellus quis tristique ipsum, eget mattis lacus. Donec vel
    egestas est. Ut porttitor facilisis posuere. Nulla facilisi. Nullam sodales rutrum aliquet. Vestibulum hendrerit neque
    sed risus tincidunt semper. Donec eget velit metus. Donec sollicitudin nunc ut augue dictum, et gravida nulla convallis.
  </p>

  <img src="assets/Desert.jpg" alt="" class="img2">

  <p class="p1">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non finibus velit, hendrerit venenatis leo. Donec augue
    odio, tristique sagittis ultricies in, euismod in massa. Sed ut bibendum nisi, ac rutrum ante. Cras egestas pulvinar
    mauris eget auctor. Quisque tincidunt orci ut mauris cursus pulvinar. Etiam ut mauris in mauris auctor venenatis at eget
    lacus. Quisque tristique consequat suscipit. In hac habitasse platea dictumst. Quisque lectus tellus, tempor sed euismod
    non, ultricies eleifend felis. Pellentesque laoreet elementum enim, at luctus leo lacinia sit amet. Aliquam imperdiet
    eros eu neque ullamcorper sodales. Integer finibus leo sed metus sollicitudin, nec consectetur sem mattis. Proin sit
    amet varius velit. Vivamus quis urna volutpat, rhoncus diam vitae, ornare metus. Praesent at magna posuere, volutpat
    nunc gravida, volutpat purus. Morbi dui metus, consectetur a lectus et, aliquam placerat sapien. Cras congue purus velit,
    quis vehicula massa venenatis in. In tincidunt sit amet nisi quis vehicula. Donec eu dignissim mauris, sed luctus enim.
    Fusce molestie urna ac neque maximus maximus. Fusce efficitur vehicula justo non iaculis. Fusce viverra mi a ante sodales,
    vitae vehicula neque rutrum. Quisque eros nibh, ultrices at commodo vitae, dignissim eu nisl. Vivamus quis lorem dapibus,
    aliquet risus sed, eleifend libero. Phasellus dictum urna eu interdum posuere. Sed auctor mattis augue, et ultricies
    nisl euismod nec. Aliquam vestibulum bibendum euismod. Praesent sit amet felis in odio luctus malesuada rutrum nec nulla.
    Phasellus id nulla turpis. Sed tincidunt vestibulum nisl eget porta. Nullam consectetur sollicitudin fermentum. Aliquam
    erat volutpat. Vestibulum semper ipsum ut malesuada posuere. Aenean nec sapien urna. Proin finibus metus vel turpis pulvinar
    dignissim. Quisque mattis, sem quis vehicula porttitor, ipsum sem mollis orci, in rutrum mi libero vitae dui. In ornare,
    felis a egestas sollicitudin, massa quam suscipit sem, volutpat lacinia ante ligula vitae lacus. Morbi id nunc ornare,
    malesuada enim id, gravida augue. Morbi laoreet dui leo, nec iaculis nisi suscipit a. Proin metus nibh, gravida gravida
    urna et, tempus lobortis tortor. In molestie gravida urna sed aliquet. Maecenas lectus justo, tempus vitae cursus eu,
    pharetra eu neque. Vivamus porttitor congue neque quis tincidunt. Donec mattis dui blandit magna auctor sagittis. Vestibulum
    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum ante ipsum primis in faucibus
    orci luctus et ultrices posuere cubilia Curae; Etiam molestie molestie lectus. Pellentesque habitant morbi tristique
    senectus et netus et malesuada fames ac turpis egestas. Phasellus quis tristique ipsum, eget mattis lacus. Donec vel
    egestas est. Ut porttitor facilisis posuere. Nulla facilisi. Nullam sodales rutrum aliquet. Vestibulum hendrerit neque
    sed risus tincidunt semper. Donec eget velit metus. Donec sollicitudin nunc ut augue dictum, et gravida nulla convallis.
  </p>

</div>